<div class="container">
  <div class="input-field">
    <input [(ngModel)]="phoneNumber" value="1-323-898-2808" placeholder="Phone number (Required)" class="searchBox">
    <button (click)="onGetData()">
      <img src="http://www.stickpng.com/assets/images/585e4ad1cb11b227491c3391.png">
    </button>
  </div>
  
  <div class="content" *ngIf="results">
    <div class="first-section">
      <h1>{{results.phone_number}}</h1>
      <p><strong>Type:</strong> {{results.line_type}}  <strong>Carrier:</strong> {{results.carrier}}</p>
      <p class="tiny-header">phone number owner</p>
      <p>{{results.belongs_to[0].name}}</p>
      <hr>
      <h3>Spam/Fraud Potential: <strong>Low Risk</strong></h3>
      <p>Got a span call from this number? <a href="#">Report it</a></p>
    </div>
    
    <div class="second-section">
      <h2>Details of owner of {{results.phone_number}}</h2>
      <hr>
      <p class="tiny-header">current address</p>
      <p>{{results.current_addresses[0].street_line_1}}, {{results.current_addresses[0].city}}</p>
      <p class="tiny-header">family members</p>
      <p *ngFor="let result of results.associated_people">{{result.name}}</p>
      <p class="tiny-header">phone numbers</p>
      <p>{{results.phone_number}}</p>
      <p class="tiny-header">criminal records</p>
      <p><a href="#">View criminal record</a></p>
      <p class="tiny-header">previous addresses</p>
      <p><a href="#">Full address history</a></p>
    </div>
  </div>
</div>